############################# Intertechno Binding ###################################
# Devicename to use (mandatory)
# Example /dev/ttyACM0
device=/dev/ttyACM0

# How often should the command be repeated? (optional)
# See http://culfw.de/commandref.html for details
repetitions=6

# How long should one pulse be? (optional)
# See http://culfw.de/commandref.html for details
wavelength=420